.header {
  background: $offBlack;
  color: white;
  margin-bottom: $xlSize;
  padding: $mSize 0;
}

//BEM naming convention .header__title but I am sticking with camelCase
.headerTitle {
  font-size: $lSize;
  margin: 0;
}

.headerSubtitle {
  color: $offPurple;
  font-size: $mSize;
  font-weight: 500;
  margin: 0;
}
