.header {
  background: $offBlack;
  color: white;
  margin-bottom: $mSize;
  padding: $mSize 0;
}

//BEM naming convention .header__title but I am sticking with camelCase
.header-title {
  font-size: $lSize;
  margin: 0;
}

.header-subtitle {
  color: $offPurple;
  font-size: $mSize;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  header {
    margin-bottom: $xlSize;
  }
}
