// Widget
.widget {
  background: $lightGray;
  margin-bottom: $xlSize;
}

// Widget Message
.widget-message {
  border-bottom: 1px solid lighten($lightGray, 10%);
  color: $offPurple;
  margin: 0;
  padding: $lSize;
  text-align: center;
}

// Widget Header
.widget-header {
  background: $gray;
  color: $offPurple;
  display: flex;
  justify-content: space-between;
  padding: $mSize;
}

// Widget Header Title
.widget-header-title {
  margin: 0;
}
